.container-fluid {
    display: flex;
    height: 100%;
}

#sidebar {
    height: 100vh;
    position: fixed;
}

#weather-widget {
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.chart-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 768px) {
    #app {
        margin-left: 0;
    }

    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}